@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-primary: #c6c3ad;
	--color-secondary: #40495b;
	--color-accent: #fff200;
	--color-bg: #13120d;
	--color-text: #edece5;
	--font-magic: 'Alegreya', serif;
	--breakpoint-ultra: 121rem;
}

@font-face {
	font-family: 'Grifter';
	font-style: bold;
	font-weight: 700;
	font-display: block;
	src: url('/fonts/grifterbold.otf') format('opentype');
}
@layer base {
	h1,
	h2,
	h3 {
		font-family: 'Grifter', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
		color: #fff200;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	body {
		width: 100%;
		display: flex;
		justify-content: center;
		font-family: 'JetBrains Mono', monospace;
		background-color: black;
		@apply text-text bg-gradient-to-b bg-[url(/assets/background2.png)] from-black to-black/0 bg-fixed;
	}
	#gtx-trans {
		display: none;
	}
	.hexagon {
		aspect-ratio: 1 / cos(30deg);
		clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
	}
	button {
		@apply cursor-pointer transition-transform;
	}
	button:disabled {
		@apply pointer-events-none opacity-50;
	}
}

@layer components {
	.glass-bg {
		@apply border-b-white/10 bg-white/5 shadow-[0_1px_3px_0_rgba(0,0,0,0.1),inset_0_-3px_3px_rgba(0,0,0,1)] inset-shadow-xs shadow-black/20 inset-shadow-white/60;
	}
}

@layer utilities {
	input::placeholder {
		@apply text-neutral-500;
	}
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		-moz-appearance: textfield;
	}
}
/* 
Tema de cores:
https://www.realtimecolors.com/?colors=edece5-13120d-c6c3ad-40495b-fff200&fonts=Inter-JetBrains%20Mono
*/
